/* src/styles/Header.css */

.header {
    background-color: #19191b;
    color: #fff;
    padding: 25px 40px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .header-content {
    width: 100%;
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding-left: 5vh;
    padding-right: 5vh;
  }
  
  .logo-title {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px; /* Adjust size as needed */
    margin-right: 3px;
  }
  
  .logo img {
    height: 100%;
    width: auto;
  }
  
  .title {
    font-size: 1.5rem;
    color: #fff; /* Match your site color */
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    justify-content: right;
    gap: 50px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    padding-top: 1vh;
    font-weight: 500;
    font-size: 1.2em;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ccc;
  }

  .contact-button {
    background-color: transparent;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    cursor: pointer;
}

/* Contact Button */
.contact-button {
  font-size: 0.5rem;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-button:hover {
  background-color: #555555;
  color: #ffffff;
}