/* src/styles/Main.css */

.main-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10vh;
    height: 90vh;
    background-color: #19191b;
    color: #fff;
  }
  
  .main-text {
    flex: 1;
    text-align: left;
    padding-right: 3vh;
  }
  
  .main-title {
    font-size: 3rem;
    font-weight: regular;
    margin-bottom: 1rem;
  }
  
  .main-subtitle {
    font-size: 1.25rem;
    line-height: 2.0;
  }
  
  .main-animation {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  